<%= form_with model: [:admin, @badge], local: true do |form| %>
    <%= render 'shared/errors', resource: @badge %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, id: :badge_title %>
    </p>
    <p>
      <%= form.label :img_url %><br>
      <%= form.text_field :img_url, id: :badge_img_url %>
    </p>
      <div class="form-group switch-field">
        <%= form.label "Category" %>
        <%= form.radio_button :reward_rule, 'category', id: :reward_rule_category, checked: true %>
        <%= form.label "Attempt" %>
        <%= form.radio_button :reward_rule, 'attempt', id: :reward_rule_attempt %>
        <%= form.label "Level" %>
        <%= form.radio_button :reward_rule, 'level', id: :rule_type_level %>
      </div>
    <p><%= form.submit %></p>
<% end %>
