<h1 class="text-center mb-3">Passing: <%= @test_passage.test.title %> Test</h1>
<div class="card border-info mb-4 ">
  <div class="d-flex justify-content-between align-items-center card-header bg-info text-white">
    <span>
      Question <%= @test_passage.current_question_number %> of <%= @test_passage.test.questions.count %>
    </span>
  </div>
  <div class="progress-bar">
    <div class="bar"></div>
  </div>
  <div id="q1" class="collapse show">
    <div class="card-body">
      <p><%= @test_passage.current_question.body %></p>

      <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form|%>
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden:false  do |b| %>
        <div class="form-check">
          <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input" %>
          <%= b.label %>
        </div>
      <% end %>
        <%= link_to 'Create Gist', test_passage_gists_path(@test_passage), method: :post%>
        <%= form.submit "Next",
          class: "btn btn-primary start-btn",
          data: { progress: (@test_passage.current_question_number) * 100 / @test_passage.test.questions.count },
          id: 'progress'%>
      <% end %>
    </div>
  </div>
</div>
