<h4 class="text-center mb-3">
  <%= render 'timer' if @test_passage.time_limit_test?%> <br>
  <%= t('.passing')%> <%= t('.test') %>: <%= @test_passage.test.title %>
</h4>
<div class="card border-info mb-4 ">
  <div class="d-flex justify-content-between align-items-center card-header bg-info text-white">
    <span>
      <%= t('.question')%> <%= @test_passage.current_question_number %> <%= t('.from')%> <%= @test_passage.test.questions.count %>
    </span>
  </div>
  <div class="progress-bar">
    <div class="bar"></div>
  </div>
  <div id="q1" class="collapse show">
    <div class="card-body">
      <p><%= @test_passage.current_question.body %></p>

      <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form|%>
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden:false  do |b| %>
        <div class="form-check">
          <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input" %>
          <%= b.label %>
        </div>
      <% end %>
        <%= link_to t('.gist'), test_passage_gists_path(@test_passage), method: :post, class: 'btn btn-success' %>
        <%= form.submit t('.next'),
          class: "btn btn-primary start-btn",
          data: { progress: (@test_passage.current_question_number) * 100 / @test_passage.test.questions.count },
          id: 'progress'%>
      <% end %>
    </div>
  </div>
</div>
