<footer class="page-footer blue">
  <p><%= t('.year')%>: <%= current_year %></p>
  <%= link_to 'Online school Thinknetica', 'https://thinknetica.com' %>
  <p><%= t('.author')%>: Jamal Mulhem</p>
  <p>GitHub: <%= github_url('melhemm', 'rails') %></p>
  
</footer>