<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <%= link_to "TestGuru", root_path, class: 'navbar-brand' %>
    <span class="navbar-text">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= t('.welcome') %> <b> <%= current_user.first_name %></b> |
          <%= link_to t('.admin'), admin_tests_path, class: 'nav-link text-white' %>
          <%= link_to 'Gists', admin_gists_path, class: 'nav-link text-white' %>
          <%= link_to 'Badges', admin_badges_path, class: 'nav-link text-white' %>
          <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t('.contact'), new_user_feedback_path(current_user) %>
          <%= t('.welcome') %> <b> <%= current_user.first_name %></b> |
          <%= link_to "Badges", badges_path, class: 'nav-link' %>
          <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
        <% end %>
      <% else %>
        <%= link_to t('.register'), new_user_registration_path %>
        <%= link_to t('.login'), new_user_session_path %>
      <% end %>
    </span>
  </div>
</nav>
