<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <%= link_to "TestGuru", root_path, class: 'navbar-brand' %>
    <span class="navbar-text">
      <% if user_signed_in? %>
        <% if current_user.type == "Admin" %>
          <%= link_to "Admin Panel", admin_tests_path, class: 'nav-link text-white' %>
          <%= link_to 'Gists', admin_gists_path, class: 'nav-link text-white' %>
        <% end %>
        <%= link_to "Contact", new_user_feedback_path(current_user) %>
        Welcome, <b> <%= current_user.first_name %></b> |
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </span>
  </div>
</nav>