<h1><%= t('.header')  %>: <%= @answer.question.body %></h1>
<p><%= t('.answer')  %>: <b> <%= @answer.body %></b></p>
<p>
<p><%= t('.correct')  %>: <b> <%= @answer.correct %></b></p>
<p id="notice"><%= notice %></p>

<%= link_to t('routes.back'), admin_question_path(@answer.question) %> <br>
<%= link_to t('routes.edit'), edit_admin_answer_path(@answer) %>
