<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :level %>
    <%= form.number_field :level %>
  </p>

  <p>
    <%= form.label :time_limit %><br>
    <%= form.number_field :time_limit, id: :test_timer, class: "form-conrtrol" %>
  </p>

  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>

  <%= form.hidden_field :author_id, value: current_user.id %>

  <p><%= form.submit %></p><br>
<% end %>
